<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZHome</title>
    <!-- main.css -->
    <link type="text/css" th:href="@{/css/common/advertise.css}" rel="stylesheet">
</head>
<body>
    <header>
        <!-- 헤더 -->
    </header>
    <!-- 매물등록권 컨텐츠 -->
    <div layout:fragment="content" id="main">
        <main>
            <div class="AdVrt-bg">
                <div class="AdVrt-content">
                    <h2>상품 종류</h2>
                    <p>* VAT 포함 금액</p>
                    <div class="AdVrt-txt">
                        <div>
                            <p>매물(광고) 등록권</p>
                            <p>자신이 원하는 종류의 매물등록 상품권을 선택하세요.</p>
                        </div>
                    </div>
                    <ul class="AdVrt-ul">
                        <!-- 상품01_li_01_프리미엄 -->
                        <li class="AdVrt-li">
                            <!-- 상단 정보 -->
                            <div class="AdVrt-li-div">
                                <div>
                                    <p>프리미엄 상품</p>
                                </div>
                                <ul class="AdVrt-list">
                                    <li>
                                        <!-- 상품정보 -->
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 위치</p>
                                            <span>상단 광고</span>
                                        </div>
                                        <!--// 상품정보 -->
                                        
                                    </li>
                                    <li>
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 개수</p>
                                            <span>무제한</span>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>
                            <!-- div 가격정보 -->
                            <div class="AdVrt-price-div">
                                <p>189,000원</p>
                                <!-- 자세히보기(결제) -->
                                <a href="#">출시 예정</a>
                            </div>
                            <!--// div 가격정보 -->
                        </li>
                        <!--// 상품01_li_01_프리미엄 -->

                        <!-- 상품02_li_02_스탠다드 -->
                        <li class="AdVrt-li">
                            <!-- 상단 정보 -->
                            <div class="AdVrt-li-div">
                                <div>
                                    <p>스탠다드 상품</p>
                                </div>
                                <ul class="AdVrt-list">
                                    <li>
                                        <!-- 상품정보 -->
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 위치</p>
                                            <span>일반 등록</span>
                                        </div>
                                        <!--// 상품정보 -->
                                    </li>
                                    <li>
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 개수</p>
                                            <span>무제한</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--// 상단 정보 -->
                            <!-- div 가격정보 -->
                            <div class="AdVrt-price-div">
                                <p>99,000원</p>
                                <!-- 자세히보기(결제) -->
                                <a href="#">출시 예정</a>
                            </div>
                            <!--// div 가격정보 -->
                        </li>
                        <!--// 상품02_li_02_스탠다드 -->

                        <!-- 상품03_li_03_베이직 -->
                        <li class="AdVrt-li">
                            <!-- 상단 정보 -->
                            <div class="AdVrt-li-div">
                                <div>
                                    <p>베이직 상품</p>
                                </div>
                                <ul class="AdVrt-list">
                                    <li>
                                        <!-- 상품정보 -->
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 위치</p>
                                            <span>일반 등록</span>
                                        </div>
                                        <!--// 상품정보 -->
                                    </li>
                                    <li>
                                        <div>
                                            <svg width="11px" height="10px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                                <title>502B48E1-E89F-48C3-BD5A-441853D0A16D
                                                </title>
                                                <g id="02.광고상품소개" stroke="none" fill="none" fill-rule="evenodd">
                                                    <g id="02.광고상품소개_01" transform="translate(-1016.000000, -1315.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="0.2">
                                                        <g id="3" transform="translate(984.000000, 1198.000000)">
                                                            <g id="Group" transform="translate(32.000000, 109.000000)">
                                                                <g id="ic_ch_fff" transform="translate(0.000000, 8.000000)">
                                                                    <path d="M9.12001394,0.180196768 C9.31197231,-0.0492584669 9.63384494,-0.0611698192 9.83893657,0.153592018 C10.0440282,0.368353855 10.0546748,0.728462943 9.86271642,0.957918178 L4.39128922,7.81980518 C4.19052729,8.05978363 3.85031004,8.06010907 3.64918162,7.82051504 L0.13787829,3.63767851 C-0.0544305082,3.40859084 -0.0443343161,3.04846191 0.160428766,2.83330803 C0.365191849,2.61815414 0.687082208,2.6294497 0.879391007,2.85853736 L4.01930216,6.59895335 L9.12001394,0.180196768 Z" id="Rectangle">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <p>매물 등록 개수</p>
                                            <span>10회</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--// 상단 정보 -->
                            <!-- div 가격정보 -->
                            <div class="AdVrt-price-div">
                                <p>49,000원</p>
                                <!-- 자세히보기(결제) -->
                                <a href="#">출시 예정</a>
                            </div>
                            <!--// div 가격정보 -->
                        </li>
                        <!--// 상품03_li_03_베이직 -->
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <!--// 매물등록권 컨텐츠 -->
</body>
</html>