<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{common/layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZHome</title>
</head>

<body>
    <div layout:fragment="content" id="main">
        <!-- main -->
        <main>
            <!-- main-section01 배경 -->
            <section class="main-section01">
                <!-- 배경효과 -->
                <div class="container-div">
                    <div class="container-div2">
                        <div class="container-title">
                            <h2>쉽고 간편하게</h2>
                            <p><span>맞춤</span> 조건 검색하기</p>
                        </div>
                        <div class="container-search">
                            <div class="containe-search2">
                                <form action="">
                                    <!-- 돋보기icon -->
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <!-- 입력창 -->
                                    <input class="search" type="text" placeholder="지금 부동산에서 바로 내집마련 하기 🏡" disabled>
                                    <!-- 조건01 & 거래유형 -->
                                    <!--                                        <div class="condition01">-->
                                    <!--                                            <a href="#">-->
                                    <!--                                                <span>거래 유형-->
                                    <!--                                                    <i class="fa-solid fa-angle-down"></i>-->
                                    <!--                                                </span>-->
                                    <!--                                            </a>-->
                                    <!--                                            &lt;!&ndash; 임시 드롭다운 &ndash;&gt;-->
                                    <!--                                            <div id="condition01-select">-->
                                    <!--                                                <a href="#">월세</a>-->
                                    <!--                                                <a href="#">전세</a>-->
                                    <!--                                                <a class="select-last" href="#">매매</a>-->
                                    <!--                                            </div>-->
                                    <!--// 임시 드롭다운 -->
                                    <!--                                        </div>-->
                                    <!--                                        &lt;!&ndash; 조건02 & 건물유형 &ndash;&gt;-->
                                    <!--                                        <div class="condition02">-->
                                    <!--                                            <a href="#">-->
                                    <!--                                                <span>건물 유형-->
                                    <!--                                                    <i class="fa-solid fa-angle-down"></i>-->
                                    <!--                                                </span>-->
                                    <!--                                            </a>-->
                                    <!--                                            <div id="condition02-select">-->
                                    <!--                                                <a href="#">원룸</a>-->
                                    <!--                                                <a href="#">투·쓰리룸</a>-->
                                    <!--                                                <a class="select-last" href="#">오피스텔</a>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!-- 검색 -->
                                    <a th:href="@{/map}" class="search-btn">GO!</a>
                                    <!--                                        <input class="search-btn" type="submit" value="검색">-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </section>
            <!--// main-section -->

            <!-- main-section02 -->
            <section class="main-section02">
                <div class="section02-title" sec:authorize="isAuthenticated()">
                    <!-- 배너 01 -->
                    <div class="ReLi_content_div">
                        <div class="ReLi_content_div_all">
                            <th:block th:each="item, index : ${mapMainDtoList}">
                                <div class="section02-banner-ul">
                                    <h3><a href="#" th:text="${#strings.listSplit(item.roadAddress,' ')[1]}">
                                            <span>추천매물</span></a></h3>
                                    <div class="ReLi_content" th:id="${item.id}">
                                        <div class="ReLi_img">
                                            <div class="ReLi_ranking">Top [[${index.index+1}]]</div>
                                            <img th:src="${item.reImgUrl}" style="width: 242px; height: 160px;">
                                        </div>
                                        <div class="ReLi_text">
                                            <div class="ReLi_TrType">
                                                매물번호 : 48556825
                                            </div>
                                            <div class="ReLi_extent">
                                                층수 : [[${item.reFlr}]] 층 / 평수 : [[${item.reExtent}]]평
                                                <!-- 층수 / 평수-->
                                            </div>
                                            <div th:if="${item.retrType.equals('전세')}" class="ReLi_cost">
                                                가격: [[${item.reDeposit}]]만원
                                                <!--                                        [[${item.reDeposit}]] / [[${item.reMon_price}]] / [[${item.reAdmn_fee}]]-->
                                                <!-- 보증금 / 월세/ 관리비-->
                                            </div>
                                            <div th:if="${item.retrType.equals('월세')}" class="ReLi_cost">
                                                월세 가격: [[${item.reMon_price}]]만원
                                                <!--                                        [[${item.reDeposit}]] / [[${item.reMon_price}]] / [[${item.reAdmn_fee}]]-->
                                                <!-- 보증금 / 월세/ 관리비-->
                                            </div>
                                            <div th:if="${item.retrType.equals('매매')}" class="ReLi_cost">
                                                월세 가격: [[${item.reTrade}]]만원
                                                <!--                                        [[${item.reDeposit}]] / [[${item.reMon_price}]] / [[${item.reAdmn_fee}]]-->
                                                <!-- 보증금 / 월세/ 관리비-->
                                            </div>
                                            <div class="ReLi_cost">
                                                관리비: [[${item.reAdmn_fee}]]원
                                                <!--                                        [[${item.reDeposit}]] / [[${item.reMon_price}]] / [[${item.reAdmn_fee}]]-->
                                                <!-- 보증금 / 월세/ 관리비-->
                                            </div>
                                            <div class="ReLi_address">
                                                [[${item.roadAddress}]]
                                                <!-- 시도 / 군구 / 동-->
                                            </div>
                                            <div class="ReLi_agent">
                                                <div class="ReLi_agent_div">
                                                    <div class="ReLi_agent_company" th:text="${item.lreaNick}+공인중개사">
                                                    </div>
                                                    <div class="ReLi_agent_name" th:text="${item.lreaName}"></div>
                                                </div>
                                            </div>

                                            <div class="ReLi-move-dtl">
                                                <a th:href="'/map/'+${item.id}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="ReLi_content_div_all_cover"></div>
                    </div>
                </div>

                <div class="section02-title" sec:authorize="isAnonymous()">
                    <!-- 배너 01 -->
                    <th:block th:if="${RecommandList != null}">
                        <div class="ReLi_content_div">
                            <div class="ReLi_content_div_all">
                                <th:block th:each="item, index : ${RecommandList}">
                                    <div class="section02-banner-ul">
                                        <div class="section02-banner">
                                            <h3><a href="#"
                                                    th:text="${#strings.listSplit(item.roadAddress,' ')[1]}"></a></h3>
                                            <div class="ReLi_content" th:id="${item.id}">
                                                <div class="ReLi_img">
                                                    <!--<div class="ReLi_ranking">Top [[${index.index+1}]]</div>-->
                                                    <img th:src="${item.reImgUrl}" style="width: 100%; height: 100%;">
                                                </div>
                                                <div class="ReLi_text">

                                                    <div class="ReLi_TrType">
                                                        매물번호 : 48556825
                                                    </div>
                                                </div>
                                                <div class="ReLi_agent">
                                                    <div class="ReLi_agent_div">
                                                        <div class="ReLi_agent_company"
                                                            th:text="${item.lreaNick}+공인중개사"></div>
                                                        <div class="ReLi_agent_name" th:text="${item.lreaName}"></div>
                                                        <div class="ReLi_extent" th:text="${item.reFlr} + 층"></div>
                                                        <div class="ReLi_cost">
                                                            보증금(전세가): [[${item.reDeposit}]] 만원 <br>
                                                            월세 : [[${item.reMon_price}]] 만원<br>
                                                            매매 : [[${item.reTrade}]] 만원 <br>
                                                        </div>
                                                        <div class="ReLi_cost">
                                                            <div class="ReLi_address">
                                                                [[${item.roadAddress}]]
                                                            </div>
                                                        </div>
                                                        <div class="ReLi_agent">
                                                            <div class="ReLi_agent_div">
                                                                <div class="ReLi_agent_company"
                                                                    th:text="${item.lreaNick}+공인중개사"></div>
                                                                <div class="ReLi_agent_name" th:text="${item.lreaName}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ReLi-move-dtl">
                                                            <a th:href="'/map/'+${item.id}"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <div class="ReLi_content_div_all_cover"></div>
                        </div>
                    </th:block>
                </div>
            </section>
        </main>
        <!--// main -->
    </div>
</body>

</html>