<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZHome</title>
</head>
<body>
    <div layout:fragment="content" id="main">
            <!-- main -->
            <main>
                <!-- main-section01 배경 -->
                <section class="main-section01">
                    <!-- 배경효과 -->
                    <div class="container-div">
                        <div class="container-div2">
                            <div class="container-title">
                                <h2>쉽고 간편하게</h2>
                                <p><span>맞춤</span> 조건 검색하기</p>
                            </div>
                            <div class="container-search">
                                <div class="containe-search2">
                                    <form action="">
                                        <!-- 돋보기icon -->
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        <!-- 입력창 -->
                                        <input class="search" type="text" placeholder=" 지역, 지하철역, 대학 주변검색" >
                                        <!-- 조건01 & 거래유형 -->
                                        <div class="condition01">
                                            <a href="#">
                                                <span>거래 유형
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </span>
                                            </a>
                                            <!-- 임시 드롭다운 -->
                                            <div id="condition01-select">
                                                <a href="#">월세</a>
                                                <a href="#">전세</a>
                                                <a href="#">매매</a>
                                            </div>
                                            <!--// 임시 드롭다운 -->
                                        </div>
                                        <!-- 조건02 & 건물유형 -->
                                        <div class="condition02">
                                            <a href="#">
                                                <span>건물 유형
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <!-- 검색 -->
                                        <input class="search-btn" type="submit" value="검색">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </section>
                <!--// main-section -->

                <!-- main-section02 -->
                <section class="main-section02">
                    <div class="section02-title">
                        <h3><a href="#">서초동 <span>추천매물</span></a></h3>
                    </div>
                    <!-- section02-info -->
                    <div class="section02-info">
                        <div class="section02-info-box"><a href="#">서초동</a></div>
                        <div class="section02-info-box"><a href="#">원룸, 투&#183;쓰리룸, 오피스텔</a></div>
                        <div class="section02-info-box"><a href="#">월세, 전세</a></div>
                        <div class="section02-info-more"><a href="#">더 많은 방보기 <i class="fa-solid fa-angle-right"></i></a></div>
                    </div>
                    <!--// section02-info -->
                        <!-- 광고 배너 영역 -->
                        <ul class="section02-banner-ul">
                            <!-- 배너 01 -->
                            <li>
                                <a href="#" class="banner-hover">
                                    <div class="section02-banner-hiden">
                                        <div class="section02-banner-div">
                                            <img src="img/room_img02.jpg" alt="매물사진1">
                                            <div class="banner-hover-bg cover"></div>
                                        </div>
                                    </div>
                                    <div class="banner-text">
                                        <p class="banner-text-p">투룸</p>
                                        <h1>전세 3억6000</h1>
                                        <p class="banner-text-p2">4층, 40.15m², 관리비 8만</p>
                                        <p class="banner-text-p2">서초동 가성비 좋은 귀한 전세매물 신축빌라입니다 방3,화2</p>
                                    </div>
                                </a>
                            </li>
                            <!-- 배너 02 -->
                            <li>
                                <a href="#" class="banner-hover">
                                    <div class="section02-banner-hiden">
                                        <div class="section02-banner-div">
                                            <img src="img/room_img03.jpg" alt="매물사진2">
                                            <div class="banner-hover-bg cover"></div>
                                        </div>
                                    </div>
                                    <div class="banner-text">
                                        <p class="banner-text-p">오피스텔&#183;서초코업레지던스</p>
                                        <h1>월세 95/95</h1>
                                        <p class="banner-text-p2">중층, 24.16m², 관리비 10만</p>
                                        <p class="banner-text-p2">교대역 ,강남역 가성비 좋은 복층 풀옵션</p>
                                    </div>
                                </a>
                            </li>
                            <!-- 배너 03 -->
                            <li>
                                <a href="#" class="banner-hover">
                                    <div class="section02-banner-hiden">
                                        <div class="section02-banner-div">
                                            <img src="img/room_img04.jpg" alt="매물사진3">
                                            <div class="banner-hover-bg cover"></div>
                                        </div>
                                    </div>
                                    <div class="banner-text">
                                        <p class="banner-text-p">원룸</p>
                                        <h1>전세 1억</h1>
                                        <p class="banner-text-p2">고층, 35.1m², 관리비 10만</p>
                                        <p class="banner-text-p2">뱅뱅사거리 근처 주차되는 원룸 전세</p>
                                    </div>
                                </a>
                            </li>
                            <!-- 배너 04 -->
                            <li>
                                <a href="#" class="banner-hover">
                                    <div class="section02-banner-hiden">
                                        <div class="section02-banner-div">
                                            <img src="img/room_img05.jpg" alt="매물사진4">
                                            <div class="banner-hover-bg cover"></div>
                                        </div>
                                    </div>
                                    <div class="banner-text">
                                        <p class="banner-text-p">오피스텔</p>
                                        <h1>월세 1000/75</h1>
                                        <p class="banner-text-p2">4층, 17.67m², 관리비 0.6만</p>
                                        <p class="banner-text-p2">최저가월세 전입신고가능 신논현역2분 신축급깨끗</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- 광고 배너 영역 -->
                </section>
                <!--// main-section02 -->

                <!-- main-section03 -->
                <!-- 지역 매물 info -->
                <section class="main-section03">
                    <!-- section03-contents 전체영역 -->
                    <div class="section03-contents">
                        <div class="section03-title">
                            <p class="section03-title-p"><a href="#"><span>서초동</span> 은 어떤 동네일까요?</a></p>
                        </div>
                        <div class="section03-hidden">
                            <div class="section03-info">
                                <!-- 원룸 section03-info-oen -->
                                <div class="section03-info-oen">
                                    <p class="info-title">원룸 평균 매물가</p>
                                    <div class="info-inner">
                                        <div class="info-column">
                                            <div class="info-column-inner">
                                                <p class="inner-name">월세</p>
                                                <p class="inner-name-number">500/87</p>
                                            </div>
                                            <div class="info-column-inner">
                                                <p class="inner-name">전세</p>
                                                <p class="inner-name-number">2억3300</p>
                                            </div>
                                            <p class="description">※ 전용면적 33m²(10평) 이하</p>
                                        </div>
                                    </div>
                                </div>
                                <!--// 원룸 section03-info-oen -->

                                <!-- 투 쓰리룸 section03-info-twothree -->
                                <div class="section03-info-twothree">
                                    <p class="info-title">투&#183;쓰리 평균 매물가</p>
                                    <div class="info-inner">
                                        <div class="info-column">
                                            <div class="info-column-inner">
                                                <p class="inner-name">월세</p>
                                                <p class="inner-name-number">1000/141</p>
                                            </div>
                                            <div class="info-column-inner">
                                                <p class="inner-name">전세</p>
                                                <p class="inner-name-number">4억3900</p>
                                            </div>
                                            <p class="description">※ 전용면적 60m²(18평) 이하</p>
                                        </div>
                                    </div>
                                </div>
                                <!--// 투 쓰리룸 section03-info-twothree -->

                                <!-- 오피스텔 section03-info-officetel -->
                                <div class="section03-info-officetel">
                                    <p class="info-title">오피스텔 평균 매물가</p>
                                    <div class="info-inner">
                                        <div class="info-column">
                                            <div class="info-column-inner">
                                                <p class="inner-name">월세</p>
                                                <p class="inner-name-number">1000/112</p>
                                            </div>
                                            <div class="info-column-inner">
                                                <p class="inner-name">전세</p>
                                                <p class="inner-name-number">2억1500</p>
                                            </div>
                                            <p class="description">※ 전용면적 33m²(10평) 이하</p>
                                        </div>
                                    </div>
                                </div>
                                <!--// 오피스텔 section03-info-officetel -->

                                <!-- 편의시설 section03-info-facility -->
                                <div class="section03-info-facility">
                                    <p class="info-title">편의시설</p>
                                    <div class="info-inner">
                                        <div class="info-column-jcsb">
                                            <!-- coulumn-type-icon -->
                                            <div class="column-type-icon">
                                                <div class="type-icon-cafe"></div>
                                                <p class="inner-name">카페</p>
                                                <p class="inner-name-number">559</p>
                                            </div>
                                            <div class="column-type-icon">
                                                <div class="type-icon-cvs"></div>
                                                <p class="inner-name">편의점</p>
                                                <p class="inner-name-number">156</p>
                                            </div>
                                            <div class="column-type-icon">
                                                <div class="type-icon-supermarket"></div>
                                                <p class="inner-name">수퍼마켓</p>
                                                <p class="inner-name-number">44</p>
                                            </div>
                                            <div class="column-type-icon">
                                                <div class="type-icon-beautyslaon"></div>
                                                <p class="inner-name">미용실</p>
                                                <p class="inner-name-number">180</p>
                                            </div>
                                            <div class="column-type-icon">
                                                <div class="type-icon-laundry"></div>
                                                <p class="inner-name">세탁&#47;빨래방</p>
                                                <p class="inner-name-number">55</p>
                                            </div>
                                            <div class="column-type-icon">
                                                <div class="type-icon-exercise"></div>
                                                <p class="inner-name">실내운동</p>
                                                <p class="inner-name-number">1</p>
                                            </div>
                                            
                                            <!--// coulumn-type-icon -->
                                        </div>
                                    </div>
                                </div>
                                <!--// 편의시설 section03-info-facility -->
                            </div>
                        </div>
                    </div>
                    <!--// section03-contents 전체영역 -->
                </section>
            </main>
            <!--// main -->
    </div>
</body>
</html>