<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
    <header th:fragment="header">
        <!-- nav -->
        <nav>
            <!-- 로고 -->
            <h1 class="logo"><a href="#"><img src="./img/logo01.png" alt="logo"></a></h1>
            <ul class="EzHome-ul-left">
                <li sec:authorize=""><a href="#">부동산</a></li>
                <li sec:authorize=""><a href="#">커뮤니티</a></li>
                <li sec:authorize=""><a href="#">고객센터</a></li>
            </ul>
            <ul class="EzHome-ul-right">
                <li class="advert_insert" sec:authorize=""><a href="#">광고등록</a></li>
                <li><a href="/members/login">로그인</a></li>

                <li><a href="#" class="header-signup">회원가입</a></li>
                <li class="header-signup" sec:authorize="">
                    <a href="/members/logout">
                        로그아웃
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!--// nav -->
    </header>
    <!--// 헤더 -->
</body>
</html>