@import url('ReCs-floor.css');
*{
    margin:0;
    padding:0;
}
.imsi-head{
    height:90px;
}
.imsi-navi{
    width:1920px;
    height:66px;
    background-color:#4876EF;
}
.imsi-map{
    position:relative;
    z-index:1;
    width:1920px;
    height:813px;
    box-sizing:border-box;
    background-color:antiquewhite;
}
.ReCS{
    position:absolute;
    width:1182px;
    height:780px;
    background-color:#f7f7f7;
    z-index:90;
    border-right:1px solid #8d8d8f;
    display:none;
}
.ReCs-div{
    box-sizing:border-box;
    width:1182px;
    height:100px;
    /* border:1px solid black; */
}

.ReCs-subject{
    box-sizing:border-box;
    width:1182px;
    height:60px;
}
.ReCs-select{
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    margin: 20px auto 0;
    font-size: 0;
}
.ReCs-sl-div{
    box-sizing: border-box;
    width: 149px;
    height: 38px;
    float: left;
    padding-top: 8px;
    padding-left: 18px;
}
.ReCs-normal{
    background-color: #6c93f7;
}
.ReCs-normal:hover{
    background-color: #6c93f7;
}
.ReCs-custom {
    background-color: #cfcfcf;
}
.ReCs-custom:hover{
    background-color: #6c93f7;
}
.ReCs-sl-div i{
    opacity:0.7;
    font-size:20px;
}
.fa-house{
    margin-right:30px;

}
.fa-crosshairs{
}
.ReCs-normal > span{
    font-size:15px;
    font-weight:600;
}
.ReCs-custom > span{
    font-size:14px;
    font-weight:600;
}
.ReCs-sl-div>i{
    height:30px;
    width:30px;
}
.ReCs-custom{
    border-left:1px solid black;
}
.ReCs-title{
    height:30px;
    border-bottom:3px solid #8d8d8f;
    padding-left:20px;
    color:#535353;
    font-size:20px;
    font-weight:600;
}
.ReCs-content{
    padding-bottom:10px;
    padding-left:50px;
    height:65px;
    box-sizing: border-box;
}
.ReCs-region{
    height:45px;
    width:350px;
    margin-top:13px;
    border-radius:45px;
    border:1px solid #b8b7bb;
    background-color:#6c93f7;
    opacity:1;
    color:white;
    font-size:16px;
    padding-top:10px;
    padding-left:30px;
    box-sizing: border-box;
}
.ReCs-region:empty::before{
    content:attr(placeholder);
    color:rgb(238, 238, 238);
    font-weight:500;
}

.ReCs-button{
    box-sizing:border-box;
    margin-top:13px;
    margin-right:25px;
    width:120px;
    height:35px;
    border-radius:45px;
    border:1px solid #b8b7bb;
    background-color:#b8b7bb;
    display:inline-block;
    font-size:14px;
    padding-top:5px;
    letter-spacing:2px;
    font-weight:600;
    color:#858484;
    text-align:center;
}
#ReCs-cost{
    font-size:15px;
    letter-spacing:0.5px;
}
/* 저장, 불러오기, 초기화, 적용 버튼 */

.ReCs-MB-div{
    padding-top:30px;
    padding-left:350px;
}

.ReCs-MB{
    display:inline-block;
    box-sizing:border-box;
    width:100px;
    height:45px;
    text-align:center;
    padding-top:10px;
    margin-left:15px;
    border:1px solid #94BBCC;
    color : #3A6BA5;
    font-weight:600;
    border-radius:6px;
}
.ReCs-MB:hover{
    border:1px solid #d4a931;
    background-color:#FEC72F;
    color:#FFFFFF;
    font-weight:800;
}
.ReCs-leftButton{
    display:none;
    box-sizing: border-box;
    position: fixed;
    top: 175px;
    left: 1200px;
    background-color:#ededed;
    border-color: #4b4b4b;
    color: #4b4b4b;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    height: 32px;
    min-width: 72px;
    padding: 0 14px 0;
    font-size: 15px;
    font-weight: 700;
    text-align:center;
    padding-top:5px;
    z-index:999;
}
.ReCs-leftButton:hover{
    background-color:#fff86d;
}

.ReCs-cudiv{
    height:150px;
}
.ReCs-cadiv{
    height:300px;
}
.ReCs-input{
    margin-top:20px;
    margin-left:20px;
    width:275px;
    height:40px;
    border:1px solid #b8b7bb;
    background-color:#6c93f7;
    border-radius:5px;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
    float:left;
}
.ReCs-input:empty::before{
    content:attr(placeholder);
    color:rgb(238, 238, 238);
    font-weight:500;
}
.ReCs-add{
    border:1px solid #b8b7bb;
    border-radius:6px;
    width:70px;
    height:40px;
    text-align: center;
    float:left;
    margin-top:20px;
    margin-left:10px;
    padding-top:7px;
    box-sizing: border-box;
}
.ReCs-save{
    box-sizing:border-box;
    width:1182px;
    height:100px;
}
.ReCs-but-div{
    padding-left:20px;
}
.ReCs-collection{
    height:600px;
    display:none;
}
.ReCs-delete{
    float:right;
    margin-right:10px;
    color:rgb(189, 99, 99);
}