@charset "utf-8";
@import url(reEs_navi.css);
@import url(floorSlider.css);
@import url(extentSlider.css);
@import url(monthSlider.css);
@import url(manageSlider.css);
@import url(depositSlider.css);


/* realEstate01.css */
*{
    margin:0; padding:0;
    /* border:1px solid black; */
    /* box-sizing:border-box; */
}
/* 교체필요(header영역) */
.ReEs-imsiHeader{
    height:90px;
}

/* ↓ 지도 ↓ */
.ReEs-parent{
    width:1920px;
    height:781px;
    background-color:gray;
}
.ReEs-map{
    width:1920px;
    height:781px;
    background-color:gray;
}
.ReEs-leftButton{
    box-sizing: border-box;
    position:absolute;
    top:500px;
    left:0px;
    display:inline-block;
    width:20px;
    height:50px;
    border-radius:1px;
    border: 1px solid black;
    background-color:white;
    padding-top:6px;
    font-size:25px;
    text-align:center;
    color:#4876EF
}
.ReEs-rightButton{
    box-sizing: border-box;
    position:absolute;
    top:500px;
    left:1898px;
    display:inline-block;
    width:20px;
    height:50px;
    border-radius:1px;
    border: 1px solid black;
    background-color:white;
    padding-top:6px;
    font-size:25px;
    text-align:center;
    color:#4876EF
}

.ReEs-NaviOn{
    background-color:#6c93f7;
}