@charset "utf-8";
@import url(reEs_navi.css);
@import url(floorSlider.css);
@import url(extentSlider.css);
@import url(monthSlider.css);
@import url(manageSlider.css);
@import url(depositSlider.css);


/* realEstate01.css */
*{
    margin:0; padding:0;
    /* border:1px solid black; */
    /* box-sizing:border-box; */
}

.ReEs-overflow{
    width: 100%;
    height: 100%;
    overflow : hidden;
}
/* 교체필요(header영역) */
.ReEs-imsiHeader{
    width: 100%;
    height:90px;
}

/* ↓ 지도 ↓ */
.ReEs-parent{
    width:1920px;
    height:781px;
    background-color:gray;
}
.ReEs-map{
    width:1920px;
    height:781px;
    background-color:gray;
}
.ReEs-leftButton{
    box-sizing: border-box;
    position:absolute;
    top:25px;
    left:25px;
    background-color:#ededed;
    border-color: #4b4b4b;
    color: #4b4b4b;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    height: 32px;
    min-width: 72px;
    padding: 0 14px 0;
    font-size: 15px;
    font-weight: 700;
    text-align:center;
    padding-top:5px;
    z-index:999;
}
.ReEs-leftButton:hover{
    background-color:#fff86d;
}
.ReEs-rightButton{
    box-sizing: border-box;
    position:absolute;
    top:25px;
    right:25px;
    background-color:#ededed;
    border-color: #4b4b4b;
    color: #4b4b4b;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    height: 32px;
    min-width: 72px;
    padding: 0 14px 0;
    font-size: 15px;
    font-weight: 700;
    text-align:center;
    padding-top:5px;
    z-index:999;
}
.ReEs-rightButton:hover{
    background-color:#fff86d;
}

.ReEs-NaviOn{
    background-color:#6c93f7;
}
.customOverlay{
    border-radius:10px;
    border:1px solid #6c93f7;
    background-color:#FFFFFF;
    color:#387ccf;
    font-size:13px;
    font-weight:600;
    text-align:center;
}
.leftNumber{
    background-color:#387ccf;
    color:#FFFFFF;
    font-size:13px;
    font-weight:600;
    text-align:center;
    border-radius:10px;
    padding-left:6px;
    padding-right:6px;
}
.center{
    border-radius:10px;
    margin:5px;
}