<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}" />

    <!-- fontwesome CDN Link -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css  -->
    <!-- ReDetail_Style2.css , CSS 합본 -->
    <link th:href="@{/css/reEs/ReDetail_Style2.css}" rel="stylesheet">

    <!-- 혹시 몰라서 주석처리 안지웠음. -->
    <!--    <link rel="stylesheet" href="style.css">-->
    <!--    <link rel="stylesheet" href="Side_broker_Info.css">-->
    <!--    <link rel="stylesheet" href="Modal_reservation.css">-->

    <!--<link th:href="@{/css/reEs/ReEs_CS.css}" rel="stylesheet">-->
    <!--    <link th:href="@{/css/reEs/Modal_reservation.css}" rel="stylesheet">-->
    <!--    <link th:href="@{/css/reEs/ReEs_reco.css}" rel="stylesheet">-->

    <script type="text/javascript" th:src="@{/js/reEs/ReDetail.js}" defer></script>
    <script th:src="@{http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/reEs/jquery-3.6.0.min.js}"></script>-->
    <link th:src="@{https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css}">
    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

</head>

<body>
<!-- 전체 content 영역, layout:fragment -->
<div layout:fragment="content" class="content">
    <!-- header 높이 90px , 가로 100% -->
    <div class="header"></div>
    <!--// header -->
    <!-- content-section 컨텐츠섹션 영역 -->
    <section class="content-section">
        <!-- 시작 모달창-->
        <!-- modal -->
        <div id="modal">
            <!-- modal_content -->
            <div class="modal_content">
                <div class="modal_content_p1">
                    <div class="modal_header">
                        <div class="modal_header_txt">
                            <h2>상담예약</h2>
                        </div>
                        <div class="modal_header_btn">
                            <button type="button" id="modal_close_btn">
                                <img aria-hidden="true" src="images/icon-close-black.png" alt="">
                            </button>
                        </div>
                    </div>
                    <hr>
                    <!-- modal_content02 -->
                    <div class="modal_content02">
                        <div>
                            <div class="modal_content02_info">
                                부동산 정보
                            </div>
                            <div class="modal_content02_phone">
                                <div class="txtPhone"
                                     style="margin-bottom: 7px; color:#000; letter-spacing:-0.43px; font-size:14px;">
                                    연락받으실연락처를 남겨주세요</div>
                                <div>
                                    <input id="getPhoneNm" type="text" placeholder="휴대폰번호를 입력해주세요">
                                </div>
                            </div>
                            <div class="modal_content02_agree">
                                <div id="privacy-policies">
                                    <div
                                            style="display: flex; flex-direction: column; justify-content: space-between; color: #666;">

                                        <p
                                                style="color: #000; font-size: 14px; font-weight: unset; margin-bottom: 10px; letter-spacing: -0.43px;">
                                            상담예약을 위해 아래 약관에 동의해주세요
                                        </p>
                                        <div class="privacy-policies-content"
                                             style="height: 6.3rem; padding: 15px; border-radius: 2px; border: solid 1px #d0d0d0;font-size:12px;">

                                            <div style="overflow:scroll; width:250px; height:100px;">
                                                <p>개인정보 수집 및 이용에 관한 동의</p>
                                                <p>피터팬의 좋은방 구하기 상담예약 서비스(이하 "서비스")와 관련하여, 본인의 개인정보를 아래와 같이 수집 및 이용에
                                                    대해 동의합니다.</p>
                                                <ul>
                                                    <li>수집목적 : 상담예약 서비스 운영</li>
                                                    <li>수집항목 : 연락처</li>
                                                    <li>보유기간 : 목적달성시까지(단, 법령에서 따로 정하는 경우 해당기간 동안 보관)</li>
                                                </ul>
                                                <div>※ 본 서비스 이용을 위한 필수적 동의이므로, 동의를 하지 않을 경우 해당 서비스를 이용하실 수 없습니다. 동의를
                                                    거부하는 경우라도 피터팬 좋은방 구하기 서비스 이용에는 영향이 없습니다.</div>
                                            </div>
                                        </div>
                                        <div class="smsRightAgree" style="position:relative;">
                                            <input class="check-agree" id="chk-agree" type="checkbox">
                                            <label for="chk-agree"
                                                   style="font-size: 12px;font-weight:normal !important; color: #363636; letter-spacing: -0.34px;">
                                                <span>(필수) 개인정보취급방침 및 운영원칙에 동의</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// modal_content02 -->
                    <!-- modal_content03 -->
                    <div class="modal_content03">
                        <div class="modal_content03_favnum">
                            <div class="favnum01">
                                <span>관심매물번호</span>
                                <span>123456</span>
                            </div>
                        </div>
                        <div class="calendar">
                            <div class="modal-month">
                                <label for="month_label">월
                                    <select id="month_label">
                                        <option value="5월">5월</option>
                                        <option value="6월">6월</option>
                                        <option value="7월">7월</option>
                                    </select>
                                </label>
                            </div>
                            <div class="modal-week">
                                <label for="week_label">요일
                                    <select id="week_label">
                                        <option value="월">월</option>
                                        <option value="화">화</option>
                                        <option value="수">수</option>
                                    </select>
                                </label>
                            </div>
                            <div class="modal-day">
                                <label for="day_label">일
                                    <select id="day_label">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </label>
                            </div>
                            <div class="modal-time">
                                <label for="time_label">시간
                                    <select id="time_label">
                                        <option value="11">11:00 ~ 12:00</option>
                                        <option value="12">12:00 ~ 13:00</option>
                                        <option value="13">13:00 ~ 14:00</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <!-- modal_radio_anotherInFo -->
                        <div class="modal_radio_anotherInFo">
                            <div class="txtPhone"
                                 style="margin-bottom: 7px; color:#000; letter-spacing:-0.43px; font-size:14px;">다른
                                매물 보기</div>
                            <div>
                                <label class="label">
                                    <input type="radio" name="selected" id="selected" value="selected"><span
                                        class="text">선택함</span>
                                </label>
                                <label class="label">
                                    <input type="radio" name="noSelected" id="noSelected" value="noSelected"><span
                                        class="text">선택안함</span>
                                </label>
                            </div>
                        </div>
                        <!--// modal_radio_anotherInFo -->
                        <!-- summaryInfo -->
                        <div class="summaryInfo">
                            <div class="txtPhone"
                                 style="margin-bottom: 7px; color:#000; letter-spacing:-0.43px; font-size:14px;">매물
                                정보 요약</div>
                            <div class="matchInfo">조건일치95%</div>
                            <div class="priceInfo">가격정보</div>
                            <div class="addressInfo">주소정보</div>
                            <div class="conditionInfo">조건정보</div>
                        </div>
                        <!--// summaryInfo -->
                    </div>
                    <!--// modal_content03 -->
                    <!-- modal_open_btn02 -->
                    <div id="modal_open_btn02">
                        <button class="Modal-GoTo-book">상담예약하기</button>
                    </div>
                    <!--// modal_open_btn02 -->
                </div>
            </div>
            <!--// modal_content -->
        </div>
        <!--// modal -->
        <!-- modal02 -->
        <div id="modal02">
            <div class="modal_content">
                <div class="modal_content_p2">

                    <div class="modal_header">
                        <div class="modal_header_txt">
                            <h2>예약완료</h2>
                        </div>
                        <div class="modal_header_btn">
                            <button type="button" id="modal_close_btn02">
                                <img aria-hidden="true" src="images/icon-close-black.png" alt="">
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div
                            style="border:1px solid black; box-sizing:border-box; font-size:20px; text-align:center; margin-bottom: 35px;">
                        성공적으로 예약 되셨습니다!</div>
                    <div class="ReEs_recheck">
                        부동산 예약정보
                    </div>

                    <div id="modal_open_btn03">
                        <button class="GoTo-main" id="GoTo-Main">확인</button>
                        <button class="GoTo-mypg" id="GoTo-MyPg">문의내역보기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal02 -->
        <!--end 모달창-->

        <!--        여기서 부터 시작 , 본문         -->
        <!-- ReEs-div-detail-Wrap -->
        <!-- 가로 : 1280px , 높이 : 100%  -->
        <div class="ReEs-div-detail-Wrap">
            <!-- detail-header , 상품 제목 시작 -->
            <div class="detail-header">
                <div class="EzHo-Div10"><span>95% 일치</span></div>
                <button class="Detail-singo">삭제하기</button>
            </div>
            <!--// detail-header 끝 -->
            <!-- 부동산이미지 -->
            <div class="swiper mySwiper container">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper ReEs-div-detail-PicWrap">
                    <div class="swiper-slide ReEs-div-detail-Pic" th:each="dtlImg : ${DtlItem.reImgDtoList}">
                        <div class="card-content">
                            <div class="image">
                                <img th:src="${dtlImg.reImgUrl}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end 부동산이미지-->

            <!--부동산세부네비-->
            <div class="ReEs-detail-navdiv">
                <nav class="ReEs-detail-nav">
                    <div class="main-menu">
                        <ul>
                            <li><a href="#section1">기본정보</a></li>
                            <li><a href="#section2">맞춤정보</a></li>
                            <li><a href="#section3">카테고리</a></li>
                            <li><a href="#section4">중개보수</a></li>
                            <li><a href="#section5">상세정보</a></li>
                            <li class="nav-li-last"><a href="#section6">추천매물</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--end 부동산세부네비-->

            <!--broker info-->
            <div class="ReEs-broker-wrap">
                <div class="broker-sm-wrap">
                    <img class="sm-logo" src="/img/logo01.png" alt="logo">
                    <div class="broker01">매물번호
                        <span>[[${DtlItem.reNum}]]</span>
                    </div>
                </div>

                <div class="detail-price">
                    <!-- 거래유형 : span : 가격 숫자 -->
                    <div class="detail-price02">[[${DtlItem.retrType}]]
                        <span th:if="${DtlItem.retrType.equals('월세')}" class="detail-price03">[[${DtlItem.reMon_price}]] </span>
                        <span th:if="${DtlItem.retrType.equals('전세')}" class="detail-price03">[[${DtlItem.reDeposit}]] </span>
                        <span th:if="${DtlItem.retrType.equals('매매')}" class="detail-price03">[[${DtlItem.reTrade}]] </span>
                    </div>
                    <!-- 집 주소 -->
                    <div class="detail-sigudong">[[${DtlItem.roadAddress}]]</div>
                    <!--<div th:if="${DtlItem.retrType.equals('월세')}" class="detail-price03">[[${DtlItem.reMon_price}]]</div>
                    <div th:if="${DtlItem.retrType.equals('전세')}" class="detail-price03">[[${DtlItem.reDeposit}]]</div>
                    <div th:if="${DtlItem.retrType.equals('매매')}" class="detail-price03">[[${DtlItem.reTrade}]]</div>-->

                </div>

                <div class="broker03">
                    <p class="ReEs-bk-detail">[[${member.membNick}]]&nbsp;공인중개사 사무소</p>
                </div>
                <div class="broker04">
                    <ul class="broker04-ul">
                        <li class="broker04-li">대표 [[${member.MembName}]] | 대표번호 <span> [[${member.membPhone}]]</span></li>
                        <li class="broker04-li">부동산주소 [[${member.membAddress1}]] [[${member.membAddress2}]]</li>
                    </ul>
                </div>
                <div class="broker-th">매물상담은 연락주세요</div>
                <!--<button class="GoTo-book" id="modal_open_btn">상담예약</button>-->
                <!--<button class="GoTo-msg">채팅문의</button>-->
            </div>

            <!--end broker info-->

            <!--부동산 콘텐츠-->
            <div class="ReEs-div-Content01">
                <div id="section1"></div>
                <h2 class="ReEs-h2-price">가격정보</h2>
                <!-- ReEs-div-content02 -->
                <div class="ReEs-div-content02">
                    <table class="ReEs-table-detail">
                        <tr>
                            <th class="ReEs-tb-th-1st">전, 월세</th>
                            <td class="ReEs-tb-td-1st">
                                <p class="textsize" th:text="${DtlItem.retrType}"></p>
                            </td>
                        </tr>

                        <tr>
                            <th class="ReEs-tb-th">보증금</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize" th:text="${DtlItem.reDeposit}"></p>
                            </td>
                        </tr>

                        <tr>
                            <th class="ReEs-tb-th">전·월세 가격</th>
                            <td class="ReEs-tb-td">
                                <p th:if="${DtlItem.retrType.equals('월세')}" class="textsize">[[${DtlItem.reMon_price}]]</p>
                                <p th:if="${DtlItem.retrType.equals('전세')}" class="textsize">[[${DtlItem.reDeposit}]]</p>
                                <p th:if="${DtlItem.retrType.equals('매매')}" class="textsize">[[${DtlItem.reTrade}]]</p>
                            </td>
                        </tr>

                        <tr>
                            <th class="ReEs-tb-th">관리비 </th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">매월&nbsp;[[${DtlItem.reAdmn_fee}]] 만원</p>
                                <p class="textsize">청소비,&nbsp;승강기 유지비 기타</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">주차</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">가능(무료)</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="section2"></div>
                <!--// ReEs-div-content02 -->
                <h2 class="ReEs-h2-niz">맞춤정보</h2>
                <div class="ReEs-div-content03">
                    <!-- ReEs-div-content03 맞춤정보 조건-->
                    <div class="ReCs-button" id="reNew">신축
                        <input type="hidden" th:field="${DtlItem.reNew}" name="reNew" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reFull">풀옵션
                        <input type="hidden" th:field="${DtlItem.reFull}" name="reFull" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reDebt">대출없음
                        <input type="hidden" th:field="${DtlItem.reDebt}" name="reDebt" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reElvtr">엘리베이터
                        <input type="hidden" th:field="${DtlItem.reElvtr}" name="reElvtr" value="false"/>
                    </div>
                    <div class="ReCs-button" id="rePet">반려동물
                        <input type="hidden" th:field="${DtlItem.rePet}" name="rePet" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reScrty">보안기능
                        <input type="hidden" th:field="${DtlItem.reScrty}" name="reScrty" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reParking">주차장
                        <input type="hidden" th:field="${DtlItem.reParking}" name="reParking" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reSouth">남향
                        <input type="hidden" th:field="${DtlItem.reSouth}" name="reSouth" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reBug">벌레퇴치업체
                        <input type="hidden" th:field="${DtlItem.reBug}" name="reBug" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reWoman">여성전용
                        <input type="hidden" th:field="${DtlItem.reWoman}" name="reWoman" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reForest">숲View
                        <input type="hidden" th:field="${DtlItem.reForest}" name="reForest" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reRiver">리버View
                        <input type="hidden" th:field="${DtlItem.reRiver}" name="reRiver" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reOcean">오션View
                        <input type="hidden" th:field="${DtlItem.reOcean}" name="reOcean" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reCity">시티View
                        <input type="hidden" th:field="${DtlItem.reCity}" name="reCity" value="false"/>
                    </div>
                </div>
                <!--// ReEs-div-content03 맞춤정보 조건-->
                <!-- 카테고리조건 이동 -->
                <div id="section3"></div>
                <!-- ReEs-h2-detail 카테고리조건 제목 -->
                <h2 class="ReEs-h2-Kate">카테고리조건</h2>
                <!-- ReEs-div-content04 카테고리 조건-->
                <div class="ReEs-div-content04">
                    <div class="ReCs-button" id="rePublic">공공기관
                        <input type="hidden" th:field="${DtlItem.rePublic}" name="rePublic" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reMedic">의료시설
                        <input type="hidden" th:field="${DtlItem.reMedic}" name="reMedic" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reCnvn">편의시설
                        <input type="hidden" th:field="${DtlItem.reCnvn}" name="reCnvn" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reSchol">학교주변
                        <input type="hidden" th:field="${DtlItem.reSchol}" name="reSchol" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reTeen">10대거주
                        <input type="hidden" th:field="${DtlItem.reTeen}" name="reTeen" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reTwen">20대거주
                        <input type="hidden" th:field="${DtlItem.reTwen}" name="reTwen" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reThirty">30대거주
                        <input type="hidden" th:field="${DtlItem.reThirty}" name="reThirty" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reFourty">40대거주
                        <input type="hidden" th:field="${DtlItem.reFourty}" name="reFourty" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reFifty">50대거주
                        <input type="hidden" th:field="${DtlItem.reFifty}" name="reFifty" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reSixty">60대이상
                        <input type="hidden" th:field="${DtlItem.reSixty}" name="reSixty" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reMainroad">대로변
                        <input type="hidden" th:field="${DtlItem.reMainroad}" name="reMainroad" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reRocket">로켓배송
                        <input type="hidden" th:field="${DtlItem.reRocket}" name="reRocket" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reFlat">경사완만
                        <input type="hidden" th:field="${DtlItem.reFlat}" name="reFlat" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reSubway">역세권
                        <input type="hidden" th:field="${DtlItem.reSubway}" name="reSubway" value="false"/>
                    </div>
                    <div class="ReCs-button" id="rePark">공원
                        <input type="hidden" th:field="${DtlItem.rePark}" name="rePark" value="false"/>
                    </div>
                    <div class="ReCs-button" id="reRsdnt_Area">주택지구
                        <input type="hidden" th:field="${DtlItem.reRsdnt_Area}" name="reRsdnt_Area" value="false"/>
                    </div>
                </div>
                <!--// ReEs-div-content04 카테고리 조건-->

                <!-- 매물관련 정보 뺸거 같아서 일딴 주석처리합니다. dahani -->
                <!--<h2 class="ReEs-h2-iteminfo">매물관련정보</h2>-->
                <!--            <p class="ReEs-p-detail">이 매물의 주변 리뷰를 확인해봐요 !</p>-->
                <!--            <div class="ReEs-div-content05">-->
                <!--                <div class="ReEs-near-Info"><a href="">이미지</a></div>-->
                <!--                <div class="ReEs-near-Info"><a href="">이미지</a></div>-->
                <!--                <div class="ReEs-near-Info"><a href="">이미지</a></div>-->
                <!--                <div class="ReEs-near-Info"><a href="">이미지</a></div>-->
                <!--                <div class="ReEs-near-Info"><a href="">이미지</a></div>-->
                <!--            </div>-->
                <!--            <p class="ReEs-p-detail">이미지 클릭시 주변 리뷰 페이지로 넘어갑니다</p>&lt;!&ndash;삭제 예정&ndash;&gt;-->

                <!-- 중개보수 위치이동 -->
                <div id="section4"></div>
                <h2 class="ReEs-h2-bosu">중개보수</h2>
                <!-- ReEs-div-content06 -->
                <div class="ReEs-div-content06">
                    <table class="ReEs-table-detail">
                        <tr>
                            <th class="ReEs-tb-th">중개보수</th>
                            <td class="ReEs-tb-td">
                                <p th:if="${DtlItem.retrType.equals('월세')}" class="textsize">[[${(DtlItem.reDeposit + DtlItem.reMon_price*100) /1000 * 4}]] 만원</p>
                                <p th:if="${DtlItem.retrType.equals('전세')}" class="textsize">[[${DtlItem.reDeposit /1000 * 5}]] 만원</p>
                                <p th:if="${DtlItem.retrType.equals('매매')}" class="textsize">[[${DtlItem.reTrade /1000 * 5}]] 만원</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">상한요율</th>
                            <!--what is 상한 요율-->
                            <td class="ReEs-tb-td">
                                <p th:if="${DtlItem.retrType.equals('월세')}" class="textsize">0.4%</p>
                                <p th:if="${DtlItem.retrType.equals('전세')}" class="textsize">0.5%</p>
                                <p th:if="${DtlItem.retrType.equals('매매')}" class="textsize">0.5%</p>

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- 상세정보 이동 -->
                <div id="section5"></div>
                <!--// ReEs-div-content06 -->
                <h2 class="ReEs-h2-detail">상세정보</h2>
                <!-- ReEs-div-content07 -->
                <div class="ReEs-div-content07">
                    <table class="ReEs-table-detail">
                        <tr>
                            <th class="ReEs-tb-th">지번주소</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">[[${DtlItem.roadAddress}]]</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">상세주소</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">[[${DtlItem.reDtl_Adr}]]</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">방종류</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize" th:text="${DtlItem.rehouseType}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">해당층 · 건물층</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">[[${DtlItem.reFlr}]]층 · [[${DtlItem.reTotalFlr}]]층</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">전용계약면적</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">[[${DtlItem.reExtent}]]㎡</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">방 개수 · 욕실 수</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">[[${DtlItem.reRoomcnt}]]개 · [[${DtlItem.reBathcnt}]]개</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">방향</th>
                            <td class="ReEs-tb-td">
                                <p th:text="${DtlItem.reSouth.equals(false)} ? '남향아님' : '남향' " class="textsize"></p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">난방종류</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">개별난방</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">빌트인</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">빌트인 주방</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">해당 면적 세대수</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">30세대</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="ReEs-tb-th">총 세대 수</th>
                            <td class="ReEs-tb-td">
                                <p class="textsize">50세대</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--// ReEs-div-content07 -->
                <!-- <h2 class="ReEs-h2-detail">옵션</h2>
                <div class="ReEs-div-content08">
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                </div>
                <h2 class="ReEs-h2-detail">보안/안전시설</h2>
                <div class="ReEs-div-content09">
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                    <span class="match-icon"><i class="fa-solid fa-snowflake fa-stack fa-2xl"></i></span>
                </div>
                <h2 class="ReEs-h2-detail">위치 및 주변 시설</h2>
                <div class="ReEs-div-content10">
                    <p class="ReEs-p-detail02">서울시 은평구 역촌동 36-17 리젠트 1동</p>
                    <p class="ReEs-p-detail02">도로명으로 변경 기능 넣어주세요</p>&lt;!&ndash;삭제예정&ndash;&gt;
                    <div class="ReEs-mapH-detail">지도가 들어갈 자리입니다</div>
                </div>
                <h2 class="ReEs-h2-detail">지역 평균 거래와 비교하기</h2>
                <div class="ReEs-div-content11">
                    <div class="ReEs-graph-01">지역평균 거래 금액과 현재 매물 가격 그래프로 비교합니다</div>
                </div> -->
            </div>
            <!--end부동산 콘텐츠-->

            <div id="section6"></div>


            <!--  -->
            <script>
    //삭제하기
    $(".Detail-singo").click(function () {
        alert('삭제하시겠습니까?');
        //if문 넣어 삭제하기->db확인
    });
    // detail img_slide
    //<!-- Initialize Swiper -->
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 15,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });


    // Modal 상담예약 01
    $("#modal_open_btn").click(function () {
        $("#modal").attr("style", "display:block");
    });

    $("#modal_close_btn").click(function () {
        $("#modal").attr("style", "display:none");

    });

    $("#modal_close_btn02").click(function () {
        $("#modal02").attr("style", "display:none");
    });

    $("#modal_open_btn02").click(function () {
        $("#modal").attr("style", "display:none");
        $("#modal02").attr("style", "display:block");
    });

   // end Modal 상담예약
</script>
        </div>
        <!--// ReEs-div-detail-Wrap -->

        <!--부동산추천이미지-->
        <!-- main-section02 -->
        <section class="main-section02">
            <div class="section02-title">
                <h3><a href="#" th:text="${#strings.listSplit(DtlItem.roadAddress,' ')[1]}"> <span>추천매물</span></a></h3>
            </div>
            <!-- section02-info -->
            <div class="section02-info">
                <div class="section02-info-box" ><a href="#" th:text="${#strings.listSplit(DtlItem.roadAddress,' ')[2]}"></a></div>
                <div class="section02-info-box" th:if="${DtlItem.rehouseType.equals('원룸')}"><a href="#">[[${DtlItem.rehouseType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.rehouseType.equals('투룸')}"><a href="#" >[[${DtlItem.rehouseType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.rehouseType.equals('오피스텔')}"><a href="#" >[[${DtlItem.rehouseType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.rehouseType.equals('아파트')}"><a href="#" >[[${DtlItem.rehouseType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.rehouseType.equals('상가/사무실')}"><a href="#" >[[${DtlItem.rehouseType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.retrType.equals('월세')}"><a href="#" >[[${DtlItem.retrType}]]</a></div>
                <div class="section02-info-box" th:if="${DtlItem.retrType.equals('전세')}"><a href="#" >[[${DtlItem.retrType}]]</a></div>
                <div class="section02-info-more"><a href="#">더 많은 방보기 <i
                        class="fa-solid fa-angle-right"></i></a></div>
            </div>
            <!--// section02-info -->
            <!-- 광고 배너 영역 -->
            <ul class="section02-banner-ul">
                <!-- 배너 01 -->
                <li>
                    <a href="#" class="banner-hover">
                        <div class="section02-banner-hiden">
                            <div class="section02-banner-div">
                                <img src="img/room_img02.jpg" alt="매물사진1">
                                <div class="banner-hover-bg cover"></div>
                            </div>
                        </div>
                        <div class="banner-text">
                            <p class="banner-text-p">투룸</p>
                            <h1>전세 3억6000</h1>
                            <p class="banner-text-p2">4층, 40.15m², 관리비 8만</p>
                            <p class="banner-text-p2">서초동 가성비 좋은 귀한 전세매물 신축빌라입니다 방3,화2</p>
                        </div>
                    </a>
                </li>
                <!-- 배너 02 -->
                <li>
                    <a href="#" class="banner-hover">
                        <div class="section02-banner-hiden">
                            <div class="section02-banner-div">
                                <img src="img/room_img03.jpg" alt="매물사진2">
                                <div class="banner-hover-bg cover"></div>
                            </div>
                        </div>
                        <div class="banner-text">
                            <p class="banner-text-p">오피스텔&#183;서초코업레지던스</p>
                            <h1>월세 95/95</h1>
                            <p class="banner-text-p2">중층, 24.16m², 관리비 10만</p>
                            <p class="banner-text-p2">교대역 ,강남역 가성비 좋은 복층 풀옵션</p>
                        </div>
                    </a>
                </li>
                <!-- 배너 03 -->
                <li>
                    <a href="#" class="banner-hover">
                        <div class="section02-banner-hiden">
                            <div class="section02-banner-div">
                                <img src="img/room_img04.jpg" alt="매물사진3">
                                <div class="banner-hover-bg cover"></div>
                            </div>
                        </div>
                        <div class="banner-text">
                            <p th:if="${DtlItem.rehouseType.equals('원룸')}" class="banner-text-p">원룸</p>
                            <p th:if="${DtlItem.rehouseType.equals('투룸')}" class="banner-text-p">투룸</p>
                            <p th:if="${DtlItem.rehouseType.equals('오피스텔')}" class="banner-text-p">오피스텔</p>
                            <p th:if="${DtlItem.rehouseType.equals('아파트')}" class="banner-text-p">아파트</p>
                            <p th:if="${DtlItem.rehouseType.equals('상가/사무실')}" class="banner-text-p">상가/사무실</p>

                            <h1>전세 1억</h1>
                            <p class="banner-text-p2">고층, 35.1m², 관리비 10만</p>
                            <p class="banner-text-p2">뱅뱅사거리 근처 주차되는 원룸 전세</p>
                        </div>
                    </a>
                </li>
                <!-- 배너 04 -->
                <li>
                    <a href="#" class="banner-hover">
                        <div class="section02-banner-hiden">
                            <div class="section02-banner-div">
                                <img src="img/room_img05.jpg" alt="매물사진4">
                                <div class="banner-hover-bg cover"></div>
                            </div>
                        </div>
                        <div class="banner-text">
                            <p th:if="${DtlItem.rehouseType.equals('원룸')}" class="banner-text-p">원룸</p>
                            <p th:if="${DtlItem.rehouseType.equals('투룸')}" class="banner-text-p">투룸</p>
                            <p th:if="${DtlItem.rehouseType.equals('오피스텔')}" class="banner-text-p">오피스텔</p>
                            <p th:if="${DtlItem.rehouseType.equals('아파트')}" class="banner-text-p">아파트</p>
                            <p th:if="${DtlItem.rehouseType.equals('상가/사무실')}" class="banner-text-p">상가/사무실</p>
                            <h1>월세 1000/75</h1>
                            <p class="banner-text-p2">4층, 17.67m², 관리비 0.6만</p>
                            <p class="banner-text-p2">최저가월세 전입신고가능 신논현역2분 신축급깨끗</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- 광고 배너 영역 -->
        </section>
        <!--// main-section02 -->

    </section>
    <!--// content-section 컨텐츠섹션 영역 -->
</div>
<!--// content 영역, layout:fragment -->
</body>

</html>