<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매물 지도</title>
    <link th:href="@{/css/common/reset.css}" rel="stylesheet">
    <link th:href="@{/css/reEs/ReEs.css}" rel="stylesheet">
    <link th:href="@{/css/reEs/ReEs_CS.css}" rel="stylesheet">
    <link th:href="@{/css/reEs/ReEs_List.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a64cf23b5.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=49225bbd40a329c7dd66bdf487530d46"></script>
    <script type="text/javascript" th:src="@{/js/reEs/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/reEs/OnOff.js}"></script>
    <script type="text/javascript" th:src="@{/js/reEs/Slider.js}"></script>
    <script type="text/javascript" th:src="@{/js/reEs/map.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    //
        $(document).ready(function(){

            console.log(typeof($('input[value="true"]')));
            $('input[value="true"]').parent().css({'background-color':'#0081cc', 'color':'white'});

            $('.ReCs-button').click(function(){
                var tagId = $(this).attr("id");
                console.log(tagId);
                var values = $('input[name=' + tagId + ']').attr('value');
                if(values == 'false'){
                    $(this).css({'background-color':'#0081cc', 'color':'white'});
                    $('input[name=' + tagId + ']').attr('value', 'true');
                }else{
                    $(this).css({'background-color':'#b8b7bb', 'color':'#858484'});
                    $('input[name=' + tagId + ']').attr('value', 'false');
                }
                values = $('input[name=' + tagId + ']').attr('value');
                console.log(values);
            });
        });
    </script>
</head>
<body class="ReEs-body">
    <div class="ReEs-imsiHeader">헤더 영역</div>
    <div class="ReEs-navi">
        <div class="ReEs-navi-normal">
            <div class="ReEs-navi-normal-search ReEs-navi-font" contenteditable="true" placeholder="지역을 입력하세요"></div>
            <div class="ReEs-navi-normal-TrType ReEs-navi-font">거래유형</div>
            <div class="ReEs-navi-normal-houseType ReEs-navi-font">방유형</div>
            <div class="ReEs-navi-normal-floor ReEs-navi-font">층수</div>
            <div class="ReEs-navi-normal-extent ReEs-navi-font">평수</div>
            <div class="ReEs-navi-normal-cost ReEs-navi-font">월세 / 관리비 / 보증금</div>
        </div>
        <!-- 여기부터는 선택시 나오는 div들 -->
        <!-- 거래유형 click시 -->
        <div class="ReEs-navi-normal-TrType-select">
            <div class="ReEs-navi-normal-TrType-select-Month ReEs-navi-sl-font">월세</div>
            <div class="ReEs-navi-normal-TrType-select-Lease ReEs-navi-sl-font">전세</div>
            <div class="ReEs-navi-normal-TrType-select-Buy ReEs-navi-sl-font">매매</div>
        </div>
        <!-- 방유형 click시-->
        <div class="ReEs-navi-normal-houseType-select">
            <div class="ReEs-navi-normal-houseType-select-One ReEs-navi-sl-font">원룸</div>
            <div class="ReEs-navi-normal-houseType-select-TwoOrThree ReEs-navi-sl-font">투·쓰리룸</div>
            <div class="ReEs-navi-normal-houseType-select-Office ReEs-navi-sl-font">오피스텔</div>
            <div class="ReEs-navi-normal-houseType-select-apart ReEs-navi-sl-font">아파트</div>
        </div>
        <!-- 층수 click시-->
        <div class="ReEs-navi-normal-floor-select">
            <div class="ReEs-navi-normal-floor-select-div1">
                <div class="ReEs-navi-normal-floor-select-namediv">층수</div>
                <div class="ReEs-navi-normal-floor-select-img"><i class="fa-solid fa-building"></i></div>
                <div class="ReEs-navi-normal-floor-select-slider">
                    <input type="range" id="floor-input-left" min="1" max="10" value="4" />
                    <input type="range" id="floor-input-right" min="1" max="10" value="8" />

                    <div class="floorSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReEs-navi-normal-floor-select-slider-txt"></div>
                <script type="text/javascript" th:src="@{/js/reEs/floorSlider.js}"></script>
            </div>
            <div class="ReEs-navi-normal-floor-select-div2">
                <div class="ReEs-navi-floor-halfButton floor-exButton">반지하</div>
                <div class="ReEs-navi-floor-looftopButton floor-exButton">옥탑방</div>
            </div>
        </div>
        <!-- 평수 click시-->
        <div class="ReEs-navi-normal-extent-select">
            <div class="ReEs-navi-normal-extent-select-namediv">
                평수
            </div>
            <div class="ReEs-navi-normal-extent-select-slider">
                <input type="range" id="extent-input-left" min="1" max="40" value="10" />
                <input type="range" id="extent-input-right" min="1" max="40" value="32" />

                <div class="extentSlider">
                    <div class="track"></div>
                    <div class="range"></div>
                    <div class="thumb left"></div>
                    <div class="thumb right"></div>
                </div>
            </div>
            <div class="ReEs-navi-normal-extent-select-slider-txt"></div>
            <script type="text/javascript" th:src="@{/js/reEs/extentSlider.js}"></script>
        </div>

        <!-- 월세/관리비/보증금 click시 -->
        <div class="ReEs-navi-normal-cost-select">
            <div class="ReEs-slider-month">
                <div class="ReEs-navi-normal-month-select-namediv">월세</div>
                <div class="ReEs-navi-normal-month-select-slider">
                    <input type="range" id="month-input-left" min="0" max="100" value="30" />
                    <input type="range" id="month-input-right" min="0" max="100" value="60" />
                    <div class="monthSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReEs-navi-normal-month-select-slider-txt"></div>
            </div>

            <div class="ReEs-slider-manage">
                <div class="ReEs-navi-normal-manage-select-namediv">관리비</div>
                <div class="ReEs-navi-normal-manage-select-slider">
                    <input type="range" id="manage-input-left" min="0" max="30" value="5" />
                    <input type="range" id="manage-input-right" min="0" max="30" value="15" />
                    <div class="manageSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReEs-navi-normal-manage-select-slider-txt"></div>
            </div>
            <div class="depositSlider">
                <div class="ReEs-navi-normal-deposit-select-namediv">보증금</div>
                <div class="ReEs-navi-normal-deposit-select-slider">
                    <input type="range" id="deposit-input-left" min="0" max="3000" value="1000" />
                    <input type="range" id="deposit-input-right" min="0" max="3000" value="2000" />
                    <div class="depositSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReEs-navi-normal-deposit-select-slider-txt"></div>
            </div>
            <script type="text/javascript" th:src="@{/js/reEs/monthSlider.js}"></script>
            <script type="text/javascript" th:src="@{/js/reEs/manageSlider.js}"></script>
            <script type="text/javascript" th:src="@{/js/reEs/depositSlider.js}"></script>
        </div>
        <!-- 맞춤 영역 -->
        <div class="ReEs-navi-custom">
            <div class="ReEs-navi-custom-button ReEs-navi-font">맞춤</div>
        </div>
        <!-- 맞춤 선택 영역 -->
        <div class="ReEs-navi-custom-button-select">
            <div class="ReEs-custom-select-button-div">
                <div class="ReEs-custom-select-button ReEs-on">가나다</div>
                <div class="ReEs-custom-select-button">가나다</div>
                <div class="ReEs-custom-select-button">가나다</div>
                <div class="ReEs-custom-select-button">가나다</div>
                <div class="ReEs-custom-select-button">가나다</div>
                <div class="ReEs-custom-select-button">가나다</div>
            </div>
            <div class="ReEs-custom-select-Allbutton-div">
                <div class="ReEs-custom-select-AllOn">전체선택</div>
                <div class="ReEs-custom-select-AllOff">전체해제</div>
            </div>
        </div>

        <!-- 카테고리 영역 -->
        <div class="ReEs-navi-category">
            <div class="ReEs-navi-category-button ReEs-navi-font">카테고리</div>
        </div>
        <div class="ReEs-navi-category-button-select">
            <div class="ReEs-category-select-button-div">
                <div class="ReEs-category-select-button">가나다</div>
                <div class="ReEs-category-select-button">가나다</div>
                <div class="ReEs-category-select-button">가나다</div>
                <div class="ReEs-category-select-button">가나다</div>
                <div class="ReEs-category-select-button">가나다</div>
            </div>
            <div class="ReEs-category-select-Allbutton-div">
                <div class="ReEs-category-select-AllOn">전체선택</div>
                <div class="ReEs-category-select-AllOff">전체해제</div>
            </div>
        </div>
    </div>
    <div class="ReEs-parent">
        <div class="ReEs-map" id="map">
            <div class="ReEs-leftButton">
                필터 표시
            </div>
            <div class="ReEs-rightButton">
                목록 보기
            </div>
            <!--  ======================================================================================================  -->
            <!--  ======================================================================================================  -->
            <!--  ================================================= 조건 필터 ============================================  -->
            <div class="ReCS">
                <form method="post" action="/reEs/save">
                <div class="ReCs-subject">
                    <div class="ReCs-select">
                        <div class="ReCs-sl-div ReCs-normal">
                            <i class="fa-solid fa-house"></i><span>기본</span>
                        </div>
                        <div class="ReCs-sl-div ReCs-custom">
                            <i class="fa-solid fa-crosshairs"></i><span>맞춤/카테고리</span>
                        </div>
                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">지역</div>
                    <div class="ReCs-content">
                        <div class="ReCs-region" contenteditable="true" placeholder="지역을 입력하세요"></div>
                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">거래 유형</div>
                    <div class="ReCs-content">
                        <div class="ReCs-button ReCs-Month">월세</div>
                        <div class="ReCs-button ReCs-Lease">전세</div>
                        <div class="ReCs-button ReCs-Buy">매매</div>
                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">방 유형</div>
                    <div class="ReCs-content">
                        <div class="ReCs-button ReCs-One">원룸</div>
                        <div class="ReCs-button ReCs-TwoOrThree">투·쓰리룸</div>
                        <div class="ReCs-button ReCs-Office">오피스텔</div>
                        <div class="ReCs-button ReCs-Apart">아파트</div>
                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">층수</div>
                    <div class="ReCs-content">
                        <div class="ReCs-button ReCs-One">옥탑방</div>
                        <div class="ReCs-button ReCs-TwoOrThree">반지하</div>
                        <div class="ReCs-Slider">
                            <input type="range" id="cs-floor-input-left" min="1" max="10" value="3" />
                            <input type="range" id="cs-floor-input-right" min="1" max="10" value="7" />

                            <div class="cs-floorSlider">
                                <div class="track"></div>
                                <div class="range"></div>
                                <div class="thumb left"></div>
                                <div class="thumb right"></div>
                            </div>
                        </div>
                        <div class="ReCs-txt ReCs-floorSlider-txt"></div>
                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">평수</div>
                    <div class="ReCs-content">
                        <div class="ReCs-Slider">
                            <input type="range" id="cs-extent-input-left" min="1" max="40" value="10" />
                            <input type="range" id="cs-extent-input-right" min="1" max="40" value="30" />

                            <div class="cs-extentSlider">
                                <div class="track"></div>
                                <div class="range"></div>
                                <div class="thumb left"></div>
                                <div class="thumb right"></div>
                            </div>
                        </div>
                        <div class="ReCs-txt ReCs-extentSlider-txt"></div>

                    </div>
                </div>
                <div class="ReCs-div">
                    <div class="ReCs-title">월세/관리비/보증금</div>
                    <div class="ReCs-content" id="ReCs-cost">
                        <div class="ReCs-Slider">
                            <input type="range" id="cs-month-input-left" min="1" max="80" value="30" />
                            <input type="range" id="cs-month-input-right" min="1" max="80" value="60" />

                            <div class="cs-monthSlider">
                                <div class="track"></div>
                                <div class="range"></div>
                                <div class="thumb left"></div>
                                <div class="thumb right"></div>
                            </div>
                        </div>
                        <div class="ReCs-txt ReCs-monthSlider-txt"></div>
                        <div class="ReCs-Slider">
                            <input type="range" id="cs-manage-input-left" min="1" max="40" value="10" />
                            <input type="range" id="cs-manage-input-right" min="1" max="40" value="30" />

                            <div class="cs-manageSlider">
                                <div class="track"></div>
                                <div class="range"></div>
                                <div class="thumb left"></div>
                                <div class="thumb right"></div>
                            </div>
                        </div>
                        <div class="ReCs-txt ReCs-manageSlider-txt"></div>
                        <div class="ReCs-Slider">
                            <input type="range" id="cs-deposit-input-left" min="1" max="3000" value="1000" />
                            <input type="range" id="cs-deposit-input-right" min="1" max="3000" value="2000" />

                            <div class="cs-depositSlider">
                                <div class="track"></div>
                                <div class="range"></div>
                                <div class="thumb left"></div>
                                <div class="thumb right"></div>
                            </div>
                        </div>
                        <div class="ReCs-txt ReCs-depositSlider-txt"></div>
                    </div>
                </div>
                <script th:src="@{/js/reEs/ReCs_Slider.js}"></script>

                <!--   맞춤/카테고리   -->
                <div class="ReCs-collection">
                    <div class="ReCs-cudiv">
                        <div class="ReCs-title">맞춤</div>
                        <div class="ReCs-but-div">
                            <div class="ReCs-button" id="newhouse">신축
                                <input type="hidden" name="newhouse" value="false"/>
                            </div>
                            <div class="ReCs-button" id="full">풀옵션
                                <input type="hidden" name="full" value="false"/>
                            </div>
                            <div class="ReCs-button" id="debt">대출없음
                                <input type="hidden" name="debt" value="false"/>
                            </div>
                            <div class="ReCs-button" id="elevator">엘리베이터
                                <input type="hidden" name="elevator" value="false"/>
                            </div>
                            <div class="ReCs-button" id="pet">반려동물
                                <input type="hidden" name="pet" value="false"/>
                            </div>
                            <div class="ReCs-button" id="security">보안기능
                                <input type="hidden" name="security" value="false"/>
                            </div>
                            <div class="ReCs-button" id="parking">주차장
                                <input type="hidden" name="parking" value="false"/>
                            </div>
                            <div class="ReCs-button" id="south">남향
                                <input type="hidden" name="south" value="false"/>
                            </div>
                            <div class="ReCs-button" id="bug">벌레퇴치업체
                                <input type="hidden" name="bug" value="false"/>
                            </div>
                            <div class="ReCs-button" id="woman">여성전용
                                <input type="hidden" name="woman" value="false"/>
                            </div>
                            <div class="ReCs-button" id="forest">숲View
                                <input type="hidden" name="forest" value="false"/>
                            </div>
                            <div class="ReCs-button" id="river">리버View
                                <input type="hidden" name="river" value="false"/>
                            </div>
                            <div class="ReCs-button" id="ocean">오션View
                                <input type="hidden" name="ocean" value="false"/>
                            </div>
                            <div class="ReCs-button" id="city">시티View
                                <input type="hidden" name="city" value="false"/>
                            </div>
                        </div>
                    </div>
                    <div class="ReCs-cadiv">
                        <div class="ReCs-title">카테고리</div>
                        <div class="ReCs-but-div">


                            <div class="ReCs-button pub" id="pub">공공기관
                                <input type="hidden"name="pub" value="false"/>
                            </div>
                            <div class="ReCs-button medic" id="medic">의료시설
                              <input type="hidden"name="medic" value="true"/>
                            </div>
                            <div class="ReCs-button conv" id="conv">편의시설
                             <input type="hidden"name="conv" value="true"/>
                            </div>
                            <div class="ReCs-button school" id="school">학교주변
                                <input type="hidden"name="school" value="true"/>
                            </div>
                            <div class="ReCs-button" id="teen">10대거주
                            <input type="hidden" name="teen" value="false"/>
                            </div>
                            <div class="ReCs-button" id="twen">20대거주
                            <input type="hidden" name="twen" value="false"/>
                            </div>
                            <div class="ReCs-button" id="thirty">30대거주
                            <input type="hidden" name="thirty" value="false"/>
                            </div>
                            <div class="ReCs-button" id="fourty">40대거주
                            <input type="hidden" name="fourty" value="false"/>
                            </div>
                            <div class="ReCs-button" id="fifty">50대이상
                                <input type="hidden" name="fifty" value="false"/>
                            </div>
                            <div class="ReCs-button" id="sixty">60대이상
                                <input type="hidden" name="sixty" value="false"/>
                            </div>
                            <div class="ReCs-button" id="rocket">로켓배송
                                <input type="hidden" name="rocket" value="false"/>
                            </div>
                            <div class="ReCs-button" id="flat">경사완만
                                <input type="hidden" name="flat" value="false"/>
                            </div>
                            <div class="ReCs-button" id="subway">역세권
                                <input type="hidden" name="subway" value="false"/>
                            </div>
                            <div class="ReCs-button" id="park">공원
                                <input type="hidden" name="park" value="false"/>
                            </div>
                            <div class="ReCs-button" id="hodi">주택지구
                                <input type="hidden" name="hodi" value="false"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ReCs-save ReCs-MB-div">
                    <div class="ReCs-MB">저장</div>
                    <div class="ReCs-MB">불러오기</div>
                    <div class="ReCs-MB">초기화</div>
                    <div class="ReCs-MB ReCs-submit">적용</div>
                </div>
                <div class="ReCs-leftButton">
                    필터 숨기기
                </div>
                </form>
            </div>

            <!--  ======================================================================================================  -->
            <!--  ======================================================================================================  -->
            <!--  ============================================== 매물 리스트 =============================================  -->

            </script>
            <div class="ReEs_List">
                <div class="ReLi_extent_button_div">
                    <i class="fa-solid fa-rotate"></i>
                </div>
                <!-- 리스트 -->
                <div class="ReLi_content_div" style="overflow : scroll">
                    <th:block>
                        <div class="ReLi_content" th:each="item : ${mapMainDtoList}">
                                <div class="ReLi_img">
                                    <div class="ReLi_ranking">Top 1</div>
                                    <img th:src="${item.reImgUrl}" style="width: 242px; height: 164px;">
                                </div>
                                <div class="ReLi_text">
                                    <div class="ReLi_accuracy">일치율 100%</div>
                                    <div class="ReLi_TrType" >
<!--                                            <a th:href="'/map/'+${ite   m.id}" th:text="${item.reFlr}"></a>-->
                                    </div>
                                    <div class="ReLi_cost">
                                        [[${item.reDeposit}]] [[${item.reMon_price}]] [[${item.reAdmn_fee}]] <!-- 보증금 / 월세/ 관리비-->
                                    </div>
                                    <div class="ReLi_extent">
                                        5층 · 16평 <!-- 층수 / 평수-->
                                    </div>
                                    <div class="ReLi_address">
                                        [[${item.reSido}]] [[${item.reGungu}]] [[${item.reDong}]] <!-- 시도 / 군구 / 동-->
                                    </div>
                                    <div class="ReLi_agent">
                                        <div class="ReLi_agent_img"></div>
                                        <div class="ReLi_agent_div">
                                            <div class="ReLi_agent_company" th:text="${item.lreaNick}" ></div>
                                            <div class="ReLi_agent_name" th:text="${item.lreaName}"></div>
                                        </div>
                                        <div class="ReLi_agent_heart" ><i class="fa-solid fa-heart"></i></div>
                                    </div>

                                    <div class="ReLi-move-dtl">
                                        <a th:href ="'/map/'+${item.id}">자세히보기</a>
                                    </div>
                                </div>
                        </div>
                    </th:block>
                    </div>

                    <!---->
<!--                    <div class="ReLi_content">-->
<!--                        <div class="ReLi_img">-->
<!--                            <div class="ReLi_ranking">Top 1</div>-->
<!--                        </div>-->
<!--                        <div class="ReLi_text">-->
<!--                            <div class="ReLi_accuracy">일치율 100%</div>-->
<!--                            <div class="ReLi_TrType">월세</div>-->
<!--                            <div class="ReLi_cost">2000/50/10</div>-->
<!--                            <div class="ReLi_extent">5층 · 16평</div>-->
<!--                            <div class="ReLi_address">서울특별시 구로구 구로동</div>-->
<!--                            <div class="ReLi_agent">-->
<!--                                <div class="ReLi_agent_img"></div>-->
<!--                                <div class="ReLi_agent_div">-->
<!--                                    <div class="ReLi_agent_company">ㅇㅇㅇ공인중개사</div>-->
<!--                                    <div class="ReLi_agent_name">이예중</div>-->
<!--                                </div>-->
<!--                                <div class="ReLi_agent_heart"><i class="fa-solid fa-heart"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ReLi_content">-->
<!--                        <div class="ReLi_img">-->
<!--                            <div class="ReLi_ranking">Top 1</div>-->
<!--                        </div>-->
<!--                        <div class="ReLi_text">-->
<!--                            <div class="ReLi_accuracy">일치율 100%</div>-->
<!--                            <div class="ReLi_TrType">월세</div>-->
<!--                            <div class="ReLi_cost">2000/50/10</div>-->
<!--                            <div class="ReLi_extent">5층 · 16평</div>-->
<!--                            <div class="ReLi_address">서울특별시 구로구 구로동</div>-->
<!--                            <div class="ReLi_agent">-->
<!--                                <div class="ReLi_agent_img"></div>-->
<!--                                <div class="ReLi_agent_div">-->
<!--                                    <div class="ReLi_agent_company">ㅇㅇㅇ공인중개사</div>-->
<!--                                    <div class="ReLi_agent_name">이예중</div>-->
<!--                                </div>-->
<!--                                <div class="ReLi_agent_heart"><i class="fa-solid fa-heart"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ReLi_content">-->
<!--                        <div class="ReLi_img">-->
<!--                            <div class="ReLi_ranking">Top 1</div>-->
<!--                        </div>-->
<!--                        <div class="ReLi_text">-->
<!--                            <div class="ReLi_accuracy">일치율 100%</div>-->
<!--                            <div class="ReLi_TrType">월세</div>-->
<!--                            <div class="ReLi_cost">2000/50/10</div>-->
<!--                            <div class="ReLi_extent">5층 · 16평</div>-->
<!--                            <div class="ReLi_address">서울특별시 구로구 구로동</div>-->
<!--                            <div class="ReLi_agent">-->
<!--                                <div class="ReLi_agent_img"></div>-->
<!--                                <div class="ReLi_agent_div">-->
<!--                                    <div class="ReLi_agent_company">ㅇㅇㅇ공인중개사</div>-->
<!--                                    <div class="ReLi_agent_name">이예중</div>-->
<!--                                </div>-->
<!--                                <div class="ReLi_agent_heart"><i class="fa-solid fa-heart"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ReLi_content">-->
<!--                        <div class="ReLi_img">-->
<!--                            <div class="ReLi_ranking">Top 1</div>-->
<!--                        </div>-->
<!--                        <div class="ReLi_text">-->
<!--                            <div class="ReLi_accuracy">일치율 100%</div>-->
<!--                            <div class="ReLi_TrType">월세</div>-->
<!--                            <div class="ReLi_cost">2000/50/10</div>-->
<!--                            <div class="ReLi_extent">5층 · 16평</div>-->
<!--                            <div class="ReLi_address">서울특별시 구로구 구로동</div>-->
<!--                            <div class="ReLi_agent">-->
<!--                                <div class="ReLi_agent_img"></div>-->
<!--                                <div class="ReLi_agent_div">-->
<!--                                    <div class="ReLi_agent_company">ㅇㅇㅇ공인중개사</div>-->
<!--                                    <div class="ReLi_agent_name">이예중</div>-->
<!--                                </div>-->
<!--                                <div class="ReLi_agent_heart"><i class="fa-solid fa-heart"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ReLi_content">-->
<!--                        <div class="ReLi_img">-->
<!--                            <div class="ReLi_ranking">Top 1</div>-->
<!--                        </div>-->
<!--                        <div class="ReLi_text">-->
<!--                            <div class="ReLi_accuracy">일치율 100%</div>-->
<!--                            <div class="ReLi_TrType">월세</div>-->
<!--                            <div class="ReLi_cost">2000/50/10</div>-->
<!--                            <div class="ReLi_extent">5층 · 16평</div>-->
<!--                            <div class="ReLi_address">서울특별시 구로구 구로동</div>-->
<!--                            <div class="ReLi_agent">-->
<!--                                <div class="ReLi_agent_img"></div>-->
<!--                                <div class="ReLi_agent_div">-->
<!--                                    <div class="ReLi_agent_company">ㅇㅇㅇ공인중개사</div>-->
<!--                                    <div class="ReLi_agent_name">이예중</div>-->
<!--                                </div>-->
<!--                                <div class="ReLi_agent_heart"><i class="fa-solid fa-heart"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!---->

                </div>
<!--                <div class="ReLi_paging_div">-->
<!--                    <div class="ReLi_paging paging_on">1</div>-->
<!--                    <div class="ReLi_paging">2</div>-->
<!--                    <div class="ReLi_paging">3</div>-->
<!--                </div>-->
                <!-- 버튼 -->
            </div>
            <div class="ReEs_List-rightButton">
                목록 숨기기
            </div>

        </div>
    </div>


</body>

</html>

