<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8a64cf23b5.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/common/reset.css}" rel="stylesheet">
    <link th:href="@{/css/reEs/ReEs_CS.css}" rel="stylesheet">
</head>
<body>
    <div class="imsi-head">임시헤더</div>
    <div class="imsi-navi">임시네비</div>
    <div class="imsi-map">임시맵
    </div>
    <div class="ReCS">
        <div class="ReCs-div">
            <div class="ReCs-select">
                <div class="ReCs-sl-div ReCs-normal">
                    <i class="fa-solid fa-user-large"></i><span>기본</span>
                </div>
                <div class="ReCs-sl-div ReCs-custom">
                    <i class="fa-solid fa-crosshairs"></i><span>맞춤 / 카테고리</span>
                </div>
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">지역</div>
            <div class="ReCs-content">
                <div class="ReCs-region" contenteditable="true" placeholder="지역을 입력하세요"></div>
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">거래 유형</div>
            <div class="ReCs-content">
                <div class="ReCs-button ReCs-Month">월세</div>
                <div class="ReCs-button ReCs-Lease">전세</div>
                <div class="ReCs-button ReCs-Buy">매매</div>
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">방 유형</div>
            <div class="ReCs-content">
                <div class="ReCs-button ReCs-One">원룸</div>
                <div class="ReCs-button ReCs-TwoOrThree">투·쓰리룸</div>
                <div class="ReCs-button ReCs-Office">오피스텔</div>
                <div class="ReCs-button ReCs-Apart">아파트</div>
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">층수</div>
            <div class="ReCs-content">
                <div class="ReCs-button ReCs-One">옥탑방</div>
                <div class="ReCs-button ReCs-TwoOrThree">반지하</div>
                <div class="ReCs-Slider">
                    <input type="range" id="floor-input-left" min="1" max="10" value="3" />
                    <input type="range" id="floor-input-right" min="1" max="10" value="7" />
                    
                    <div class="floorSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReCs-txt ReCs-floorSlider-txt"></div>
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">평수</div>
            <div class="ReCs-content">
                <div class="ReCs-Slider">
                    <input type="range" id="extent-input-left" min="1" max="40" value="10" />
                    <input type="range" id="extent-input-right" min="1" max="40" value="30" />
                    
                    <div class="extentSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReCs-txt ReCs-extentSlider-txt"></div>
                
            </div>
        </div>
        <div class="ReCs-div">
            <div class="ReCs-title">월세/관리비/보증금</div>
            <div class="ReCs-content" id="ReCs-cost">
                <div class="ReCs-Slider">
                    <input type="range" id="month-input-left" min="1" max="80" value="30" />
                    <input type="range" id="month-input-right" min="1" max="80" value="60" />
                    
                    <div class="monthSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReCs-txt ReCs-monthSlider-txt"></div>
                <div class="ReCs-Slider">
                    <input type="range" id="manage-input-left" min="1" max="40" value="10" />
                    <input type="range" id="manage-input-right" min="1" max="40" value="30" />
                    
                    <div class="manageSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReCs-txt ReCs-manageSlider-txt"></div>
                <div class="ReCs-Slider">
                    <input type="range" id="deposit-input-left" min="1" max="3000" value="1000" />
                    <input type="range" id="deposit-input-right" min="1" max="3000" value="2000" />
                    
                    <div class="depositSlider">
                        <div class="track"></div>
                        <div class="range"></div>
                        <div class="thumb left"></div>
                        <div class="thumb right"></div>
                    </div>
                </div>
                <div class="ReCs-txt ReCs-depositSlider-txt"></div>
            </div>
        </div>
        <div class="ReCs-div ReCs-MB-div">
                <div class="ReCs-MB">저장</div>
                <div class="ReCs-MB">불러오기</div>
                <div class="ReCs-MB">초기화</div>
                <div class="ReCs-MB ReCs-submit">적용</div>
        </div>
        <div class="ReEs-leftButton">
            <i class="fa-solid fa-caret-left"></i>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/reEs/ReCs-Slider.js}"></script>
</body>
</html>