<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/CoMm-main.css" type = "text/css">
</head>
<body>
    <div class ="head"></div>
    <div class = "CoMm-main-all">
        <!--좌측 큰 영역-->
        <div class = "CoMm-main-left">
            <!--실시간 전체글 및 검색-->
            <div class = "CoMm-head-tit">
                <a href = "">실시간 전체글 15155개</a> <!--수정 필요-->
                <input type = "text" placeholder="다른 사람들은 어떤 이야기를 할까?">
                <div class = "CoMm-head-a">
                    <P>HOT 이번주 전체 인기글💥</P>
                </div>
            </div>
            <!--주제별 커뮤니티-->
            <div class = "CoMm-sub-tit">
                <div class = "CoMm-sub-con">
                    <div class = "CoMm-fir-p">
                        <p>주제별 커뮤니티</p>
                    </div>
                    <div class = "CoMm-sub-ul">
                        <ul>

                            <li><a href = "">전체글</a></li>
                            <li><a href = "">나눠요</a></li>
                            <li><a href = "">함께해요</a></li>
                            <li><a href = "">정보공유</a></li>
                            <li><a href = "">자랑</a></li>
                        </ul>
                    </div>

                    <div class = "CoMm-sub-pho">
                        <table class = "CoMm-sub-tab">
                            <tr>
                                <td><a href = "">사진1</a></td>
                                <td><a href = "">사진2</a></td>
                                <td><a href = "">사진3</a></td>
                            </tr>
                            <tr>
                                <td><a href = "">사진4</a></td>
                                <td><a href = "">사진5</a></td>
                                <td><a href = "">사진6</a></td>
                            </tr>
                            <tr>
                                <td><a href = "">사진7</a></td>
                                <td><a href = "">사진8</a></td>
                                <td><a href = "">사진9</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class = "CoMm-main-right">
            <!--회원정보 및 글쓰기 버튼-->
            <div class = "CoMm-mem-area">
                <div class = "CoMm-mem-inf">
                    <div class = "CoMm-pic-wrap">이미지</div>
                    <div class = "CoMm-prof-txt">
                        <strong class = "CoMm-prof-name">sBvrHt2tXjTTRB1님</strong>
                    </div>
                    <div class = "CoMm-prof-stat">
                        <p>작성글 0 | 댓글 0</p>
                    </div>
                    <div class = "CoMm-wr-div">
                        <button class = "CoMm-wr-btn">게시글 작성</button>
                        <br>
                        <b>음란, 욕설, 도용, 주제와 목적에 맞지 않는 글은 삭제 후 제재가 이루어질 수 있습니다.</b>
                    </div>
                </div>
            </div>

            <!--랭킹-->
            <div class = "CoMm-rank-wrap">
                <div class = "CoMm-cont-rank">
                    <span>답변왕 10인</span>
                    <ol class ="CoMm-ol">
                        <li>🥇</li>
                        <li>🥈</li>
                        <li>🥉</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                    </ol>
                </div>
                <div class = "CoMm-cont-rank">
                    <span>게시왕 10인</span>
                    <ol class ="CoMm-ol">
                        <li>🥇</li>
                        <li>🥈</li>
                        <li>🥉</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>