*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    height: 90px;
}
.SeCe-main-wrap{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
}
.SeCe-top-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    position: relative;
}
.SeCe-main-h1{
    color: rgb(34, 34, 34);
    font: 33px;
    font-weight: 400;
    line-height: 49px;
}
.SeCe-main-ban{
    flex: 0 0 auto;
    display: flex;
    width: 1180px;
    height: 48px;
    margin: 0 auto;
    position: absolute;
    list-style: none;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.SeCe-main-ban > li{
    margin: 0 auto;
    display: flex;
}

.SeCe-main-ban a{
    display: flex;
    color: black;
    border-top-width: 2px;
    border-bottom: 2px solid rgb(232, 232, 232);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.SeCe-main-ban a:hover{
    color: #4876Ef;
    border-bottom: 1px solid #4876Ef;
}
.SeCe-oto-wrap{
    width: 1280px;
}
.SeCe-oto-head{
    width: 100%;
    padding: 50px 0px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
    color: rgb(34, 34, 34);
}
.SeCe-oto-head a{
    color: #4876EF;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.SeCe-oto-ul{
    border-bottom: 1px solid rgb(231, 231, 231);
    border-top: 1px solid rgb(231, 231, 231);
    list-style: none;
}
.SeCe-oto-1{
    display: flex;
    align-items: center;
    padding: 16px 0px;
}
.SeCe-oto-tit1{
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 400;
    width: 130px;
    text-align: center;
}
.SeCe-oto-slt{
    height: 46px;
    padding: 0px 8px 0px 10px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    width: 80%;
}
.SeCe-oto-inp{
    padding: 0px 16px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    height: 44px;
    width: 80%;
}
.SeCe-oto-ta{
    color: rgb(76, 76, 76);
    font: 14px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    resize: none;
    width: 80%;
    height: 263px;
    padding: 16px;
}
.SeCe-oto-pica{
    display: flex;
    flex-direction: column;
}
.SeCe-oto-pwrap{
    display: flex;
    border: none;
}
.SeCe-oto-upl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    cursor: pointer;
}
.SeCe-oto-upl button{
    margin-top: 4px;
    color:rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 400;
    border: none;
}
.SeCe-oto-p{
    margin-top: 16px;
}
.SeCe-oto-p > p{
    color: rgb(134, 134, 134);
    font-size: 12px;
    font-weight: 400;
    height: 18px;
}
.SeCe-oto-foot{
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}
.SeCe-oto-btn{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    width: 216px;
    height: 52px;
    border: 0px;
    line-height: 52px;
    border-radius: 2px;
    background-color: #4876EF;
}