*{
    margin:0;
    padding:0;
}
.ReEs_List{
    display:none;
    position:absolute;
    top:0;
    left:1920px;
    width:900px;
    height:813px;
    background-color:#f7f7f7;
    z-index:90;
    transform: translateX(-100%);
}
.ReEs_List-rightButton{
    box-sizing: border-box;
    position:absolute;
    display:none;
    top:25px;
    right: 925px;
    background-color:#ededed;
    border-color: #4b4b4b;
    color: #4b4b4b;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    height: 32px;
    min-width: 72px;
    padding: 0 14px 0;
    font-size: 15px;
    font-weight: 700;
    text-align:center;
    padding-top:5px;
    z-index:999;
}
.ReEs_List-rightButton:hover{
    background-color:#fff86d;
}
.ReLi_extent_button_div{
    height:50px;
    box-sizing: border-box;
    text-align:right;
    padding-top:15px;
    padding-right:15px;
    font-size:30px;
    color:#4876EF;
    
}
.ReLi_extent_button_div> .fa-rotate{
    transition:1s;
}
.ReLi_extent_button_div> .fa-rotate:hover{
    transform:rotate(30deg);
    color:#1a55eb;
}
.ReLi_content_div{
    height:700px;
    box-sizing: border-box;
    padding:0 25px 25px 25px;
}
.ReLi_content{
    width:250px;
    height:310px;
    border:1px solid #b8b7bb;
    margin-top:25px;
    margin-left:25px;
    box-sizing: border-box;
    display:inline-block;
}
.ReLi_img{
    width:242px;
    margin:3px auto;
    height:160px;
    background:url('../img/home.jpg') no-repeat;
    background-size:cover;
}
.ReLi_ranking{
    float:right;
    padding-top:5px;
    margin-top:3px;
    margin-right:5px;
    box-sizing: border-box;
    width:50px;
    height:25px;
    font-size:12px;
    border:1px solid #6c93f7;
    background-color:#FFFFFF;
    color:#387ccf;
    font-weight: 600;
    border-radius:25px;
    text-align:center;
}

.ReLi_text{
    height:138px;
    border-top:1px solid #b8b7bb;
}
.ReLi_accuracy{
    float:right;
    padding-top:5px;
    margin-top:3px;
    box-sizing: border-box;
    width:90px;
    height:25px;
    font-size:12px;
    background-color: #4876ef;
    color: #f7f7f7;
    border-radius:25px;
    text-align: center;
}
.ReLi_TrType{
    margin-top:5px;
    font-size:20px;
    color:#081638;
    font-weight:600;
    display:inline-block;
}
.ReLi_text{
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    box-sizing: border-box;
}
.ReLi_cost{
    display:inline-block;
    font-size:16px;
    font-weight:600;
    color:#081638;
}
.ReLi_extent{
    margin-top:5px;
    font-size:14px;
    color:#081638;
}
.ReLi_address{
    margin-top:5px;
    font-size:14px;
    color:#081638;
}
.ReLi_agent{
    margin-top:10px;
    height:50px;
}
.ReLi_agent_img{
    width:40px;
    height:40px;
    border-radius:40px;
    border:1px solid black;
    float: left;
}
.ReLi_agent_div{
    float: left;
    margin-top:5px;
    margin-left:10px;
    width:120px;
    height:40px;
}
.ReLi_agent_company{
    font-size:13px;
}
.ReLi_agent_name{
    font-size:18px;
}
.ReLi_agent_heart{
    float:right;
    padding-top:10px;
    width:30px;
    height:50px;
    right:0;
    font-size:30px;
    z-index:999;
    color:#b8b7bb;
}
.ReLi_paging_div{
    margin: 0 auto;
    width:300px;
    height:40px;
    border:1px solid black;
    box-sizing: border-box;
}
.ReLi_paging{
    box-sizing: border-box;
    float:left;
    width:40px;
    height:38px;
    text-align: center;
    padding-top:10px;
    border-right:1px solid black;
}
.paging_on{
    background-color:#387ccf;
    color:white;
    font-weight:600;
}